* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
body {
  font-family: cursive;
}
  
a {
  text-decoration: none;
}

p {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 1.8;
}
  
li {  
  list-style: none;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 25px;
  background-color: black;
}

/* Styling for Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: black;
  color: #fff;
}
  
.nav-links a {
  color: #fff;
}
  
/* Logo */
.logo {
  font-size: 32px;
}
  
/* Menu */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu li {
  padding: 5px 14px;
}

.menu li:hover {
  background-color: #404040;
  border-radius: 5px;
  transition: 0.3s ease;
}
  
/* Menu's Dropdown */
.contact {
  position: relative; 
}
  
/* Checbox work-around */
input[type=checkbox]{
  display: none;
} 
  
/* Hamburger Menu */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

/* Display menu bars on smaller screens */
@media (max-width: 768px) {
  .menu { 
    display:none;
    position: absolute;
    background-color:#545454;
    right: 0;
    left: 0;
    top: 90px;
    text-align: center;
    padding: 16px 0;
    z-index: 100;
  }

  .menu li:hover {
    display: inline-block;
    background-color: grey;
    transition: 0.3s ease;
  }

  .menu li + li {
    margin-top: 12px;
  }
  
  input[type=checkbox]:checked ~ .menu{
    display: block;
  }
  
  .hamburger {
    display: block;
  }
}

/* Picture and Text (homepage) */
.container{
  float:right;
  width:100%;
  display: table-cell; 
  vertical-align: middle; 
  text-align: center;
} 

#image {
   width:60%;
   height: calc(100vh - 115px);
   float: left;
   display: flex;
   justify-content: center;
}

#image img {
  height:auto;
  max-width: 95%;
  object-fit: contain;
}

#content{
  float:left;
  width:40%;
  height: calc(100vh - 115px);
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 1.8;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  align-items: center; 
  justify-content: center;
}

@media only screen and (max-width: 768px) {
#image {
  width:100%;
  height: auto;
  padding-top: 4%;
  padding-bottom: 3%;
}
#content  {
  width:100%;
  height: auto;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 0px;
  font-size: 18px;
  line-height: 1.5;
}
#image img {
    max-width:80%;
    max-height: 350px;
  }
}

/* Portfolio Pictures (portfolio) */
#port {
  width:100%;
  height: calc(100vh - 115px);
  display: flex;
  justify-content: center;
  display: flex;
  align-items: center; 
  justify-content: center;
}

/* Portfolio Pictures (portfolio) */
#contact_form {
  width:100%;
  height: calc(100vh - 115px);
  display: flex;
  justify-content: center;
}
